<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', { title: 'Edit Post'}) %>
    <style>
      .create-post {
        margin-top: 30px;
        justify-content: center;
      }

      .create-post-card {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/nav.ejs',{ path: '/posts', username: username}) %>
    <div class="container">
      <div class="row create-post">
        <div class="col-md-5">
          <div class="card create-post-card">
            <h3 class="card-title">Edit Post</h3>
            <div class="card-text create-post-content">
              <form action="/posts/edit/<%= post.id %> " method="post">
                <div class="form-group">
                  <label for="title">Post Title</label>
                  <input
                    value="<%= post.title %> "
                    name="title"
                    type="text"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="description">Post Description</label>
                  <input
                    value="<%= post.description %> "
                    type="text"
                    name="description"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
