<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs',{ title: 'Log In' }) %>
    <style>
      .error {
        color: #8e8e8e;
        padding: 10px;
      }

      .error > h5 {
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/nav.ejs',{ path: '/signin'}) %> <%-
    include('../partials/section.ejs', { title: 'Log In' }) %>
    <div class="container">
      <div class="row" style="width: 25%; margin: 0 auto">
        <form action="/signin" class="form" method="post">
          <% if (error) { %>
          <div class="error">
            <h5><%= error %></h5>
          </div>
          <% } %>
          <div class="form-group">
            <label for="username">Username</label>
            <input
              class="form-control"
              type="text"
              name="username"
              id="username"
              value="<%= user %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              type="password"
              name="password"
              id="password"
              value="<%= password %>"
            />
          </div>
          <div class="form-group" style="text-align: center">
            <button type="submit" class="btn btn-primary">LogIn</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
